.navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    align-items: center;
    gap: 10px;
    background-color: black;
    margin-bottom: 20px;
    transition: background 300ms ease-in-out;
}

#dark .navbar {
    color: white;
    background-color: black;
}

#light .navbar {
    color: black;
    background-color: white;
}

.navbar__title {
    color: white;
    font-size: 44px;
    width: 130px;
    margin: 0;
    transition: color 400ms ease-in-out;
}

@media (min-width: 600px) {
    .navbar__title{
        font-size: 40px;
        width: auto;
    }
}

#dark .navbar__title {
    color: white;
}

#light .navbar__title {
    color: black;
}


.navbar__btnyang {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.bxs-yin-yang {
    font-size: 55px;
    transition: transform 0.5s ease;
}

.bxs-yin-yang:hover {
    font-size: 63px;  
    transform: rotate(360deg);
}


.navbar__btn {
    background-color: white;
    color: black;
    font-family: var(--third-font);
    font-size: 17px;
    font-weight: 600;
    border: 3px solid black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 300ms ease-in-out;
}

@media (min-width: 600px) {
    .navbar__btn{
        font-size: 20px;
        width: auto;
    }
}

.navbar__btn:hover {
    background-color: black;
    color: white;
    border: 3px solid white;
}

#dark .navbar__btn {
    background-color: white;
    border: 3px solid black;
    color: black;
}

#light .navbar__btn {
    background-color: black;
    border: 3px solid white;
    color: white;
}

#dark .navbar__btn:hover {
    background-color: black;
    border: 3px solid white;
    color: white;
}

#light .navbar__btn:hover {
    background-color: white;
    border: 3px solid black;
    color: black;
}
