.App {
    font-family: var(--third-font);
    transition: background 300ms ease-in-out;
}

#dark {
    background-color:white ;
}

#light{
    background-color: black ;
}

body {
    user-select: none;
}
